html, body {
  height: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.data-nodes {
  display: flex;
  flex-wrap: wrap;
}

.data-node {
  cursor: pointer;
  margin: 1px;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
}

.data-node-data {
  user-select: none;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}